# We dont want these huge datasets commited into git, do we?
dog-project/dogImages
dog-project/lfw
face_generation/data
teach-a-quadricopter-how-to-fly/.ipynb_checkpoints
teach-a-quadricopter-how-to-fly/__pycache__